body{
  margin: 0;
}

#root{
  margin: 0px;
  font-family: 'Roboto', 'sans-serif';
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

#logo-site{
  width: 100px;
}

#nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  height: 100px;
  background-color: aquamarine;
}

main{
  display: flex;
  flex: 1;
}

.content{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

#side-bar{
  width: 300px;
  background-color: aqua;
}

#side-bar div{
  display: flex;
  padding: 20px 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#side-bar div a{
  margin: 10px 0px;
  text-decoration: none;
  background-color: #4b70d6;
  width: 100%;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: 800;
  color: white;
  font-size: 20px;
}

#side-bar div a:hover{
  color: #4b70d6;
  background-color: white;
}


.tasks-manager{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.task-list-per-status{
  background-color: rgb(236, 235, 234);
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.task-list-per-status h2{
  margin-top: 0px;
}

.tasks-list{
  border: 1px solid rgb(197, 196, 196);
  border-radius: 5px;
  padding: 10px;
}

.tasks-list h4{
  margin: 0px;
}

.tasks-list .person-in-charge{
  display: flex;
  flex-direction: row;
  justify-content: start;
  column-gap: 20px;
  padding: 10px 0px;
  align-items: center;
}

footer{
  background-color: blue;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a{
  text-decoration: none;
  color: black;
}
